@media screen and (max-width: 600px) {
    body{
        width: 90%;
        margin: 0 auto;
    }
    header{
        width: 100%;
    }
    nav{
        margin-top: 16px;
    }
    nav ul{
        display: none;
    }
    .hide{
        display: block;
    }
    .explore{
        width: 100%;
    }
    .explore-container{
        padding: 10px;
        /* background-position: center; */
        background-size: cover;
        background-position: center;
    }
    .explore-section-form{
        grid-template-columns: repeat(1, 1fr);
    }
}