@media screen and (max-width: 600px) {
    header, 
    .explore,
    .newsletter,
    .popular,
    .destination,
    .choose-us
    {
        width: 90%;
        margin: 0 auto;
    }
    nav{
        margin-top: 16px;
    }
    nav ul{
        display: none;
    }
    .hide{
        display: block;
    }
    
    .explore-container{
        padding: 10px;
        background-size: cover;
        background-position: center;
        margin-top: 24px;
    }
    .explore-section-form{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-container{
        padding: 10px;
        margin-top: 24px;
     }
    .footer-container hr{
        width: 70%;
    }
    .popular-container,
    .newsletter-container{
        flex-direction: column;
        margin-top: 24px;
        gap: 16px;
    }
    .main-img {
        width: 100%;
    }
    .newsletter-form input{
        padding: 20px;
    }
    .newsletter-form button{
        padding: 14px;
    }
    .newsletter-form{
        width: auto;
    }
    .newsletter-img{
        width: 100%;
    }
    .header-title{
        font-size: 20px;
    }
    .explore-section-title{
        font-size: 25px;
        margin-top: 15px;
    }
    .off-box{
        height: 80px;
        width: 250px;
        right: 5px;
        bottom: 50px;
    }
    .popular-section-img img{
        width: 100%;
    }
    .popular-section-info{
        padding: 5px;
    }
    .choose-us-container,
    .destination-container{
        margin-top: 24px;
    }
    .destination-place{
        grid-template-areas: 
        "place1"
        "place2"
        "place3"
        "place4"
        "place5"
        "place6"
        "place7"
        ;
        gap: 16px;
    }
    
    .destination-place img{
        width: 100%;
    }
    .destination-place h1{
        font-size: 20px;
    }
    .first-row{
        flex-direction: column;
    }
    .card{
        padding: 
        10px;
    }
    .card3{
        width: 100%;
    }
    .social-icon{
        margin-bottom: 24px;
    }
    .footer-container hr{
        margin-bottom: 24px;
    }
}